<link rel="stylesheet" href="stylesheets/signup.css">

<div class="container">

  <div class="content">
    <h2>SIGNUP</h2>

    <form action="/editprofile" method="post" >
      <label for="">FULL NAME:</label>
      <input type="text" name="fullName" required value="{{profileedit.fullName}}"><br><br>
      <label for="">E-MAIL:</label>
      <input type="email" name="eMail" required value="{{profileedit.eMail}}"><br><br>
      <label for="">PHONE NUMBER:</label>
      <input type="number" name="phoneNo" required value="{{profileedit.phoneNo}}"><br><br>

      <div class="form-check">
        <label for="">WORK STATUS</label>
        <input class="form-check-input" type="radio" name="workStatus" value="FRESHER" id="flexRadioDefault1" required value="{{profileedit.workStatus}}">
        <label class="form-check-label" for="flexRadioDefault1">
          FRESHER
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="workStatus" value="WORKING" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          WORKING
        </label>
      </div>
    <textarea name="about" class="about" cols="30" rows="10" spaceholder="About" >{{profileedit.about}}</textarea> <br><br>
    <textarea name="qualification" class="qualification" cols="30" rows="10" spaceholder="Qualification" >{{profileedit.qualification}}</textarea><br><br>
    <textarea name="skills" class="skills" cols="30" rows="10" spaceholder="Skills" value="">{{profileedit.skills}}</textarea><br><br>
    <textarea name="experience" class="experience" cols="30" rows="10" spaceholder="Experience" value="">{{profileedit.experience}}</textarea><br><br>

    <input type="file" name="image" id="image" accept=".jpg"><br><br>
    <input type="file" name="resume" id="resume"  accept=".pdf"><br><br>

    <select name="jobCategory" class="form-select" aria-label="Default select example" ><br><br>
  <option selected>Job Category</option>
  <option value="Software">Software</option>
  <option value="Architecture">Architecture</option>
  <option value="Finance">Finance</option>
  <option value="Marketing">Marketing</option>
</select><br><br>

<select name="languages" class="form-select" aria-label="Default select example" >
  <option selected>Languages</option>
  <option value="English">English</option>
  <option value="Malayalam">Malayalam</option>
  <option value="Hindi">Hindi</option>
</select><br><br>

<button class="save">Save</button>
  </div>
  </form>
</div>