<link rel="stylesheet" href="/stylesheets/userprofile.css">


<div class="container">

        <div class="card">
        <div class="card-border-top">
            </div>
            <div class="img">
                
                <img class="image" src="/user/{{profile._id}}.jpg" alt="">
            </div>
        <div class="content">
            <p>{{profile.fullName}}</p>
            <p>{{profile.eMail}}</p>
            <p>{{profile.phoneNo}}</p>
            <p>{{profile.workStatus}}</p>
            <p>{{profile.about}}</p>
            <p>{{profile.qualification}}</p>
            <p>{{profile.skills}}</p>
            <p>{{profile.experience}}</p>
            <p>{{profile.jobCategory}}</p>
            <p>{{profile.languages}}</p>
        </div>
            <button> Edit
            </button>
        </div>
</div>