<link rel="stylesheet" href="/stylesheets/viewjob.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />



{{#each jobs}}

<article class="card">
    <div class="temporary_text">
        <h1>{{title}}</h1>
    </div>
<div class="card_content">
    {{!-- <span class="card_title">This is a Title</span> --}}
        <span class="card_subtitle">{{qualification}}</span><br>
        <span class="card_subtitle">{{vacancy}}</span><br>
        <span class="card_subtitle">{{salary}}</span><br>
        <span class="card_subtitle">{{experience}}</span><br>
        <span class="card_subtitle">{{jobType}}</span><br>
        <span class="card_subtitle">{{lastDate}}</span><br>
        <span class="card_subtitle">{{datePosted}}</span><br>
        
    
<ul class="wrapper">
    <li class="icon facebook">
        <span class="tooltip">Apply Now</span>
       <i class="fa-solid fa-briefcase"></i>
    </li>
    {{!-- <li class="icon twitter"> --}}
        {{!-- <span class="tooltip">Send </span>
        <span><i class="fa-solid fa-trash"></i></span>
    </li> --}}
  
</div>
</article>

{{/each}} 