<link rel="stylesheet" href="/stylesheets/userprofile.css">



<div class="container">

        <div class="card">
        <div class="card-border-top">
            </div>
            <div class="img">
                
                <img class="image" src="/company/{{profile._id}}.jpg" alt="">
            </div>
        <div class="content">
            <p>{{profile.empName}}</p>
            <p>{{profile.eMail}}</p>
            <p>{{profile.phoneNo}}</p>
            <p>{{profile.companyType}}</p>
            <p>{{profile.about}}</p>
            <p>{{profile.address}}</p>
            <p>{{profile.mission}}</p>
            <p>{{profile.vision}}</p>
       
        </div>
            <button> Edit
            </button>
        </div>
</div>